<h1>Home</h1>
<h2> Guitars</h2>
<div class="homecats">
<%= image_tag "allguitars.jpg", style: 'height:15vw;width:15vw;' %>
<%= link_to "Go", guitars_path %>
</div>
<div>
<%= image_tag "allbass.webp", style: 'height:15vw;width:15vw;' %>
<%= link_to "Go", basses_path %>


</div>