<navbar class="navbar">
<ul class="nav-items">
<li class="li"> <%= link_to "Home", root_path %></li>
<li class="li">About</li>
<li class="li carr"><%= link_to "Cart", carts_path   %>
<%= image_tag("cart.png", class: "carrito"  )%>
</li>
</ul>
</navbar> 