
.main{ 
    margin: 0 auto;
   

}

.container{ 
    width: 100%;
    margin: 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.row{
    border: 2px solid rgb(84, 77, 77);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 20px 20px 20px rgb(84, 77, 77);
    width: 26vw;
    height:20vw;
 
}

.guitar-p{
   width: auto;
   height: 2vw;
   font-size: 1vw;
   color:rgb(59, 58, 55);
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-weight: bold;
   margin: 1vw 1vw;
}
.more-btn {
    background-color: rgb(15, 15, 14);
    border: 1px solid gray;
    color: whitesmoke;
    font-size: 0.9vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    border-radius: 5px;
 }

 .homecats{ 
    width: 100%;
    margin: 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid rgb(5, 5, 5);
  
 }
 .cart-img { 
    bottom: 4px solid black;
    height: 11vw;
 }
 .keep {
    background-color: rgb(15, 15, 14);
    border: 1px solid gray;
    color: whitesmoke;
    font-size: 0.9vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    border-radius: 5px;
 }